/* ----------------------- HEADER -------------------------- */
#header {
	position: absolute;
	height: 100px;
	background-color: #fff;
}

#header, #bar {
	width: 100%;
	left: 0;
	right: 0;
	top: 0;
}

#bar {
	background-color: black;
	height: 24px;
	position: fixed;
	z-index:10;
}

#bar ul {
	height: 24px;
	margin: 0 auto;
	font-size: 70%;
	width: 972px;
	letter-spacing: 0.1em;
	word-spacing: 0.3em;
}

#bar ul li {
	position: relative;
	height: 24px;
	float: right;
	padding: 0 14px 0 10px;
	color: #fff;
	line-height: 24px;
}

#menu {
	/*position: absolute;*/
	height: 38px;
	width: 972px;
	left: 50%;
	top: 30px;
	margin: 0 auto;
}

#menu a img {
	width: 68px;
	height: 45px;
	position: relative;
	display: block;
	margin-top: 40px;
	float: left;
}

#menu ul, #bar ul {
	text-transform: uppercase;
	font-family: arial, sans-serif;
}

#menu ul {
	width: 800px;
	float: left;
	margin-top: 50px;
	vertical-align: middle;
	text-align: center;
}

#menu ul li, #bar ul li {
	list-style-type: none;
}

#menu ul li {
	color: #1a171b;
	display: inline-block;
	height: 38px;
	padding: 0 10px;
	font-weight: 700;
	font-size: 90%;
}

/* -------------------- WRAPPER ------------------------ */
#wrapper {
	text-align: left;
	width: 972px;
	margin-left: auto;
	margin-right: auto;
}

/* -------------------- SLIDER ------------------------ */
#clothes{
	height:100px;
	margin-top: 100px;
}

.clearfix {
	clear: both;
}

#bed {
	width: 100%;
	height: 400px;
	border: solid black;
	float: left;
}

.pic {
	width: 100px;
	height: 100px;
}


#bin {
	background: url(../img/laundryBasket.png) no-repeat;
	background-size: cover;
	width: 250px;
	height: 150px;
	margin-top: 250px;
	margin-left: 0px;
	position: absolute;
	z-index: 4;
	float: left;
}

.board {
	width: 400px;
	height: 400px;
	position: absolute;
	z-index: 0;
}



#drag1, #drag2, #drag3, #drag4, #drag5 {
	float:left;
}

#drag1, #drag2, #drag3, #drag4, #drag5, .dragged1, .dragged2, .dragged3, .dragged4, .dragged5 {
	width:100px;
	height:100px;
	background-size: cover;
}

#drag1 {
	background-image: url("../img/star.png");
}

#drag2 {
	background-image: url("../img/minion1.png");
}

#drag3 {
	background-image: url("../img/bowser.png");
}

#drag4 {
	background-image: url("../img/svamp.png");
}

#drag5 {
	background-image: url("../img/minion2.png");
}


.ui-draggable-helperMoving {
	border: 1px dotted #000;
	padding: 6px;
	background: #fff;
	font-size: 1.2em;
	width:100px;
	height:100px;
}

.ui-draggable-helperStoped {
	border: 1px solid #000;
	width:5px;
	height:5px;
}

.ui-draggable-dragging {
	width: 100px;
	height: 100px;
	z-index: 5;
	/*background-color: red;*/
}


/* classes for dragged stuff */
.dragged1, .dragged2, .dragged3, .dragged4, .dragged5 {
	position:absolute; 
}

.dragged1 {
	background-image: url("../img/star.png");
}

.dragged2 {
	background-image: url("../img/minion1.png");
}

.dragged3 {	
	background-image: url("../img/bowser.png");
}

.dragged4 {
	background-image: url("../img/svamp.png");
}

.dragged5 {
	background-image: url("../img/minion2.png");
}


#element{
	border:1px solid red;
}

/* -------------------- BOTTOM ------------------------ */
.bottums {
	height: 50px;
}

#sidebar, .tips, .bloggers {
	outline: solid red;
	height:100px;
	margin-bottom: 5%;
}

.tips, .bloggers {
	width:50%;
	float:left;
}