body {
	background: url(../img/prideNY.jpg) no-repeat;
	background-size: cover;
}

h1 {
/*  font-family: 'myriad-std-tilt', sans-serif;
	font-size: 150px;
	color: white;
	text-align: center;*/
	display: none;
}

*, *:after, *:before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix {
	clear: both;
}

/* ----------------------- HEADER -------------------------- */
/*#bar {
	width: 100%;
	left: 0;
	right: 0;
	top: 0;
}

#bar {
	background-color: black;
	height: 24px;
	position: fixed;
	z-index: 10;
}

#bar ul {
	height: 24px;
	margin: 0 auto;
	font-size: 70%;
	width: 972px;
	letter-spacing: 0.1em;
	word-spacing: 0.3em;
}

#bar ul li {
	position: relative;
	height: 24px;
	float: right;
	padding: 0 14px 0 10px;
	color: #fff;
	line-height: 24px;
}
*/
.menu {
	/*position: absolute;*/
	height: 38px;
	width: 972px;
	left: 50%;
	top: 30px;
	margin: 0 auto;
}

.pagelogo {
	width: 150px;
	height: 150px;
	float: left;
	text-align: center;
	margin-left: 20px;
}

.pagelogo a img {
	width: 150px;
	height: auto;
	position: relative;
	display: block;
	float: left;
}

.pagelogo .pridemix {
	width: 100px;
	height: auto;
	padding-top: 8px;
}

.gender_menu {
	width: 200px;
	margin: 0 auto;
	top: 60px;
	display: block;
	position: relative;
	z-index: 50;
}

.gender_menu ul li {
	float: left;
}

.menu ul, .gender_menu ul {
	text-transform: uppercase;
	font-family: arial, sans-serif;
}

.menu ul {
	width: 700px;
	float: left;
	margin-top: 80px;
	text-align: center;
}

.menu ul li, .gender_menu ul li {
	list-style-type: none;
}

.menu ul li, .gender_menu ul li {
	color: #1a171b;
	display: inline-block;
	height: 25px;
	padding: 0 10px;
	font-weight: 700;
}

.menu ul li a, .gender_menu ul li a {
	color: #000;
	text-decoration: none;
	font-size: 1.1em;
	letter-spacing: 1px;
}

.menu ul li a:hover, .gender_menu ul li a:hover {
	border-bottom: 1px solid black;
}

.gender_menu ul li a:active {
	border-bottom: 1px solid black;
}
/* -------------------- WRAPPER ------------------------ */
.wrapper {
	background-color: rgba(256, 256, 256, 0.8);
	width: 972px;
	margin-left: auto;
	margin-right: auto;
}

.front {
	height: 1100px;
}

.mix {
	height: 1000px;
}

/* -------------------- FRONT PAGE ------------------------ */
#banner {
	width: 100%;
	height: 420px;
	text-align: center;
}

#logo {
	width: 500px;
	height: auto;
	margin: 0 auto;
	padding-top: 40px;
}

#pride {
	width: 300px;
	height: auto;
	margin-top: 30px;
}

#info {
	width: 97%;
	height: 50px;
	margin: 0 auto;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin-bottom: 30px;
}

#info p {
	padding-top: 15px;
	text-align: center;
	font-family: arial, sans-serif;
	font-size: 1.2em;
	font-weight: bold;
}

.gender {
	float: left;
	width: 303px;
	height: 502px;
	margin: 20px 10px 50px;
	vertical-align: middle;
	text-align: center; 
	background: white;
}

.female {
	background: url(../img/hon.jpg) no-repeat;
	background-size: cover;
	margin: 0 auto;
	margin-left: 15px;
}

.male {
	background: url(../img/han.jpg) no-repeat;
	background-size: cover;
	margin: 0 auto;
	margin-left: 15px;
}

.hen {
	background: url(../img/hen.jpg) no-repeat;
	background-size: cover;
	margin: 0 auto;
	margin-left: 15px;
}

.category ul {
	list-style-type: none;
/*  width: 303px;
	height: 100px;*/
	/*position: absolute;*/
	/*margin-top: 320px;*/
	
}

/*.category > ul {
	width: 300px;
	height: 100px;
	float: left;
	margin-right: 10px;
	margin-left: 10px;
	position: absolute;
	z-index: 10;
}
*/

/*.category ul li:first-child {
	margin-left: 50px;
}*/

.category ul li:nth-child(2) {
	margin-left: 333px;
}

.category ul li:nth-child(3) {
	margin-left: 651px;
}

.category ul li { 
	font: bold 24px/45px Verdana, Sans-Serif;
	float: left; 
	letter-spacing: -1px;  
	margin-right: 10px;
	margin-left: 15px;
	background: white;
	opacity: 0.7;
	text-transform: uppercase;
	width: 303px;
	height: 100px;
	position: absolute;
	margin-top: 700px;
	z-index: 10;
} 

.category ul li a {
	color: black;
	text-decoration: none;
	text-align: center;
	line-height: 100px;
	margin-left: 128px;
}

.category li:hover {
	opacity: 1;
}

/* -------------------- SPEECH BUBBLE ------------------------ */
#speech-bubble {
	width: 400px; 
	height: 200px; 
	position: absolute;
	text-align: center;
	top: 600px;
	margin-left:270px;
}

#speech-bubble p {
	color: #B2B2B2;
	font-size: 2em;
	text-align: center;
}

/* -------------------- SLIDER ------------------------ */
#clothes{
	width: 972px;
	height: 200px;
	margin-top: 120px;
	/*top: 0; */
	bottom: 0; 
	/*left: -50px; 
	right: 0;*/
	margin: auto;
	text-align: center;
	perspective: 900px;  
	transform-style: preserve-3d;
}

.cover {
	/*height: 150px;*/
	width: 150px;
	display: inline-block;
	position: relative;
	margin: 0 -60px;  
	transform: rotateY(50deg);  
	transition: .8s;
	line-height: 150px;
	cursor: pointer;
}

.active {
	width: 200px;
	margin: 0 auto;
	text-align: center;
	transform: none;
}

.active:before {
	content: ' ';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

.active ~ .cover {
	transform: rotateY(-50deg);
/*  height: 100px;
	width: 150px;
	display: inline-block;
	position: relative;
	margin: 0 -60px; 
	cursor: pointer; */
}

img.back {
	/*left: 40px;*/
	height: 25px;
	width: 100%;
	left: 0;
	right: 0;
	margin-top: -25px;
	/*position: absolute;*/
}

img.wp-post-image {
	width: 47px;
	height: auto;
	left: 0;
	top: -6px;
	position: absolute;
}

img.hanger {
	width: 47px;
	height: 35px;
	left: 0;
	top: -21px;
	position: absolute;
}
/*
a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}*/

/* ------------------ DRAG&DROP --------------------------- */
#bed {
	width: 95%;
	height: 500px;
	border: solid black;
	margin-left: 2.5%;
	float: left;
	position: relative;
	background: white;
}

#bin {
	background: url(../img/laundry.png) no-repeat;
	background-size: cover;
	width: 150px;
	height: 150px;
	margin-top: 350px;
	margin-left: 30px;
	position: absolute;
	z-index: 4;
	float: left;
}

.ui-draggable-helperMoving {
	border: 1px dotted #000;
	padding: 6px;
	background: #fff;
	font-size: 1.2em;
	width:100px;
	height:100px;
}

.ui-draggable-helperStoped {
	border: 1px solid #000;
	width:5px;
	height:5px;
}

.ui-draggable-dragging {
	width: 72px;
	height: auto;
	z-index: 5;
	/*background-color: red;*/
}

.board {
	width: 966px;
	height: 394px;
	position: absolute;
	z-index: 0;
	background-size: cover;
}

.ui-draggable {
	width: 72px;
	height: auto;
	cursor: pointer;
}

/* ------------------ ORDER --------------------------- */
#order {
	float: right;
	margin-top: 40px;
	margin-right: 180px;
	width: 70px;
	height: 25px;
/*  font-family: arial, sans-serif;
	text-transform: uppercase;
	text-align: center;
	font-size: 11px;
	border-radius: 8px;
	background: #D8D6DE;*/
}

#order a {
	color: #000;
	text-decoration: none;
}

#order a:hover {
	text-decoration: underline;
}