*, *:after, *:before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix {
	clear: both;
}
/* ----------------------- HEADER -------------------------- */
#header {
	position: absolute;
	height: 100px;
	background-color: #fff;
}

#header, #bar {
	width: 100%;
	left: 0;
	right: 0;
	top: 0;
}

#bar {
	background-color: black;
	height: 24px;
	position: fixed;
	z-index:10;
}

#bar ul {
	height: 24px;
	margin: 0 auto;
	font-size: 70%;
	width: 972px;
	letter-spacing: 0.1em;
	word-spacing: 0.3em;
}

#bar ul li {
	position: relative;
	height: 24px;
	float: right;
	padding: 0 14px 0 10px;
	color: #fff;
	line-height: 24px;
}

#menu {
	/*position: absolute;*/
	height: 38px;
	width: 972px;
	left: 50%;
	top: 30px;
	margin: 0 auto;
}

#menu a img {
	width: 68px;
	height: 45px;
	position: relative;
	display: block;
	margin-top: 40px;
	float: left;
}

#menu ul, #bar ul {
	text-transform: uppercase;
	font-family: arial, sans-serif;
}

#menu ul {
	width: 800px;
	float: left;
	margin-top: 50px;
	vertical-align: middle;
	text-align: center;
}

#menu ul li, #bar ul li {
	list-style-type: none;
}

#menu ul li {
	color: #1a171b;
	display: inline-block;
	height: 38px;
	padding: 0 10px;
	font-weight: 700;
	font-size: 90%;
}

/* -------------------- WRAPPER ------------------------ */
#wrapper {
	width: 972px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

/* -------------------- SLIDER ------------------------ */
#clothes{
	width: 972px;
	height:150px;
	margin-top: 100px;
	/*top: 0; */
	bottom: 0; 
	/*left: -50px; 
	right: 0;*/
	margin: auto;
	text-align: center;
	perspective: 900px;  
	transform-style: preserve-3d;
}

.cover {
	height: 150px;
	width: 150px;
	display: inline-block;
	position: relative;
	margin: 0 -60px;  
	transform: rotateY(65deg);  
	transition: .8s;
	line-height: 150px;
	cursor: pointer;
}

.active {
	width: 600px;
	margin: 0 auto;
	text-align: center;
	transform: none;
}

.active:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.active ~ .cover {
	transform: rotateY(-65deg);
	height: 100px;
	width: 150px;
	display: inline-block;
	position: relative;
	margin: 0 -60px; 
	cursor: pointer; 
}

img.back {
	/*left: 40px;*/
	height: 50px;
	width: 100%;
	left: 0;
	right: 0;
	/*position: absolute;*/
}

img.shirt {
	width: 150px;
	height: 100px;
	left: 0;
	top: -5px;
	position: absolute;
}

img.hanger {
	width: 150px;
	height: 100px;
	left: 0;
	top: -50px;
	position: absolute;
}

/* ------------------ DRAG&DROP --------------------------- */
#bed {
	width: 972px;
	height: 400px;
	border: solid black;
	float: left;
	position: relative;
}

#bin {
	background: url(../img/laundryBasket.png) no-repeat;
	background-size: cover;
	width: 250px;
	height: 150px;
	margin-top: 250px;
	margin-left: 0px;
	position: absolute;
	z-index: 4;
	float: left;
}

.ui-draggable-helperMoving {
	border: 1px dotted #000;
	padding: 6px;
	background: #fff;
	font-size: 1.2em;
	width:100px;
	height:100px;
}

.ui-draggable-helperStoped {
	border: 1px solid #000;
	width:5px;
	height:5px;
}

.ui-draggable-dragging {
	width: 100px;
	height: 100px;
	z-index: 5;
	/*background-color: red;*/
}

.board {
	width: 966px;
	height: 394px;
	position: absolute;
	z-index: 0;
	background-size: cover;
}

.ui-draggable {
	width: 150px;
	height: 100px;
}

/* -------------------- BOTTOM ------------------------ */
.buttons {
	height: 50px;
}

#sidebar, .tips, .bloggers {
	outline: solid red;
	height:100px;
	margin-bottom: 0;
}

.tips, .bloggers {
	width:50%;
	float:left;
}


/*#drag1, #drag2, #drag3, #drag4, #drag5 {
	float:left;
}

#drag1, #drag2, #drag3, #drag4, #drag5, .dragged1, .dragged2, .dragged3, .dragged4, .dragged5 {
	width:100px;
	height:100px;
	background-size: cover;
}

#drag1 {
	background-image: url("../img/star.png");
}

#drag2 {
	background-image: url("../img/minion1.png");
}

#drag3 {
	background-image: url("../img/bowser.png");
}

#drag4 {
	background-image: url("../img/svamp.png");
}

#drag5 {
	background-image: url("../img/minion2.png");
}


*/


/* classes for dragged stuff */
/*.dragged1, .dragged2, .dragged3, .dragged4, .dragged5 {
	position:absolute; 
}*/

/*.dragged1 {
	background-image: url("../img/star.png");
}

.dragged2 {
	background-image: url("../img/minion1.png");
}

.dragged3 {	
	background-image: url("../img/bowser.png");
}

.dragged4 {
	background-image: url("../img/svamp.png");
}

.dragged5 {
	background-image: url("../img/minion2.png");
}*/


/*#element{
	border:1px solid red;
}*/

